USE [master]
GO
/****** Object:  Database [Attractions]    Script Date: 01/05/2025 21.19.23 ******/
CREATE DATABASE [Attractions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Attractions', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Attractions.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Attractions_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Attractions_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Attractions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Attractions]
GO
/****** Object:  Table [dbo].[attractions]    Script Date: 01/05/2025 21.19.23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attractions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[category] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[address] [nvarchar](255) NULL,
	[city_id] [int] NOT NULL,
	[latitude] [decimal](5, 2) NULL,
	[longitude] [decimal](5, 2) NULL,
	[rating] [decimal](2, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 01/05/2025 21.19.23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[country] [nvarchar](100) NULL,
	[latitude] [decimal](5, 2) NULL,
	[longitude] [decimal](5, 2) NULL,
	[image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[photos]    Script Date: 01/05/2025 21.19.23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[photos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[attraction_id] [int] NULL,
	[url] [varchar](500) NULL,
	[caption] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[attractions]  WITH CHECK ADD  CONSTRAINT [FK_attractions_city] FOREIGN KEY([city_id])
REFERENCES [dbo].[cities] ([id])
GO
ALTER TABLE [dbo].[attractions] CHECK CONSTRAINT [FK_attractions_city]
GO
ALTER TABLE [dbo].[photos]  WITH CHECK ADD FOREIGN KEY([attraction_id])
REFERENCES [dbo].[attractions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[attractions]  WITH CHECK ADD CHECK  (([rating]>=(0) AND [rating]<=(5)))
GO
USE [master]
GO
